* {
	padding: 0;
	margin: 0;
}
#menu-left {
	width: 75px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	background: #1abc9c;
}
#menu-left img {
	width: 55px;
	height: 55px;
	margin: 20px 10px 60px 10px;
}
#menu-left a.menu{
	display: block;
	text-decoration: none;
	color: white;
	font-size: 14px;
	letter-spacing: 2px;
	text-align: center;
	height: 42px;
	line-height: 42px;
}
#menu-left a.menu:hover {
	background: #09ab8b;
}


#menu-right {
	width: 385px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 75px;
	background: #303030;
}
#menu-right ul {
	list-style: none;
	margin-top: 40px;
	margin-left: 35px;
	margin-right: 2px;
	border:1px solid #1abc9c;
	border-radius: 4px;
}
#menu-right a {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 14px;
	letter-spacing: 2px;
	text-align: center;
	height: 42px;
	line-height: 42px;
	background: #1abc9c;
	word-break: normal;
}
#menu-right a:hover {
	background: #09ab8b;
}


#navCtrl {
	position: fixed;
	top: 20px;
	right: 15px;
	width: 42px;
	height: 35px;
	background: #1abc9c;
	border: 1px solid #1abc9c;
	border-radius: 4px;
}